<%= javascript_tag do %>
	latitude = '<%= j @location.latitude.to_s %>';
	longitude = '<%= j @location.longitude.to_s %>';
<% end %>


<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<div id="location-map"></div>


<%= link_to 'Back', locations_path %>